.l-header{
    align-items: center;
    background: url(../img/Background.png) center / contain no-repeat;
    display: flex;
}
.c-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45%;
}

.c-banner__info{
    font-size: 2.4rem;
    text-align: center;
}

.c-banner__image{
    margin: 2rem auto;
}

.c-banner__btn{
    margin: .5rem auto;
    width: 90%;
}

.c-banner .c-banner__btn:nth-of-type(2){
    background-color: var(--transparent);
    border: 1px solid var(--white-main);
    
}

.c-banner__advise{
    color: var(--grey-info);
    font-size: .85rem;
    font-weight: 200;
}

@media screen and (max-width:1024px){
    .c-banner{
        width: 55%;
    }

    .c-banner__info{
        font-size: 2rem;
    }

}

@media screen and (max-width:768px){       
    .c-banner{
        width: 100%;
    }

    .l-header{
        background: none;
    }
}