:root{
    --blue-sky: #167BF7;
    --blue-strong: #00030C;
    --grey-info: #C0C0C0;
    --transparent: #00000000;
    --white-main: #FFFFFF;
}

body{
    background-color: var(--blue-strong);
    color: var(--white-main);
    font-family: 'Inter', sans-serif;
}

.container__header{
    height: 100vh;
    padding: 0 2rem;
}

.container__section{
    height: 90vh;
    margin: 0 3rem;
}

.container__btn{
    background-color: var(--blue-sky);
    border-radius: 10px;
    color: var(--white-main);
    display: inline-block;
    font-weight: 300;
    padding: 1rem;
    text-align: center;
}

.l-header{
    align-items: center;
    background: url(../img/Background.png) center / contain no-repeat;
    display: flex;
    width: 100%;
}
.c-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.c-banner__info{
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}

.c-banner__image{
    margin: 2rem auto;
}

.c-banner__btn{
    margin: .5rem auto;
    width: 90%;
}

.c-banner .c-banner__btn:nth-of-type(2){
    background-color: var(--transparent);
    border: 1px solid var(--white-main);
    
}

.c-banner__advise{
    color: var(--grey-info);
    font-size: .85rem;
    font-weight: 200;
}

.c-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.c-section__description{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.c-section__image{
    width: 30%;
}

.c-section__title{
    font-size: 3rem;
}

.c-section__description > .container__btn:first-of-type{
    width: 11rem;
}

.c-section__info{
    font-weight: 400;
    color: var(--grey-info);
    line-height: 1.5rem;
}

@media screen and (min-width:768px){
    .c-banner{
        width:45%;
    }
}