:root{
    --blue-sky: #167BF7;
    --blue-strong: #00030C;
    --grey-info: #C0C0C0;
    --transparent: #00000000;
    --white-main: #FFFFFF;
}

body{
    background-color: var(--blue-strong);
    color: var(--white-main);
    font-family: 'Inter', sans-serif;
}

.container__header{
    height: 100vh;
    padding: 0 3rem;
}

.container{
    margin: 0 3rem;
}

.container__btn{
    background-color: var(--blue-sky);
    border-radius: 10px;
    color: var(--white-main);
    display: inline-block;
    font-weight: 300;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width:480px){
    .container__header{
        padding: 0;
    }
}
